{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace "rcloneproxy-encryption-key" -}}
{{- $encryptionPassword := "" -}}
{{- $encryptionPassword2 := "" -}}
{{- if $existingSecret -}}
  {{- $encryptionPassword = index $existingSecret.data "password" | b64dec -}}
  {{- $encryptionPassword2 = index $existingSecret.data "password2" | b64dec -}}
{{- else -}}
  {{- $encryptionPassword = randAlphaNum 32 -}}
  {{- $encryptionPassword2 = randAlphaNum 32 -}}
{{- end -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: rcloneproxy-encryption-key
  labels:
    app: rcloneproxy
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
stringData:
  password: "{{ $encryptionPassword }}"
  password2: "{{ $encryptionPassword2 }}"
