{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace (printf "%s-encryption-plain" (include "rcloneproxy.fullname" .)) -}}
{{- $encryptionPassword := "" -}}
{{- $encryptionPassword2 := "" -}}
{{- if $existingSecret -}}
  {{- $encryptionPassword = index $existingSecret.data "password" | b64dec -}}
  {{- $encryptionPassword2 = index $existingSecret.data "password2" | b64dec -}}
{{- else -}}
  {{- $encryptionPassword = randAlphaNum 32 -}}
  {{- $encryptionPassword2 = randAlphaNum 32 -}}
{{- end -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "rcloneproxy.fullname" . }}-encryption-plain
  labels:
    {{- include "rcloneproxy.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
stringData:
  password: "{{ $encryptionPassword }}"
  password2: "{{ $encryptionPassword2 }}"
