{{- if and .Values.backups.enabled .Values.backups.endpointCA.create }}
apiVersion: v1
kind: Secret
metadata:
  {{- if eq .Values.backups.method "plugin" }}
  name: {{ .Values.backups.endpointCA.name | default (printf "%s-barman-plugin-ca-bundle" .Release.Name) | quote }}
  {{- else }}
  name: {{ .Values.backups.endpointCA.name | default (printf "%s-ca-bundle" .Release.Name) | quote }}
  {{- end }}
  namespace: {{ include "cluster.namespace" . }}
data:
  {{ .Values.backups.endpointCA.key | default "ca-bundle.crt" | quote }}: {{ .Values.backups.endpointCA.value }}

{{- end }}
